* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul,ol, li {
  list-style:none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
}
